<%- include('header'); -%>
  <div class="container">
    <div class="row header"><h1>Zettelkasten</h1></div>
    <div class="row">
      <p>"Learning, thinking, and writing should not be about accumulating knowledge, but about becoming a different person with a different way of thinking. This is done by questioning one's own thinking routines in light of new experiences and facts."</p><br><br>
      <p>~ Sonke Ahrens ~</p>
    </div>
    <div class="row landing-buttons d-flex justify-content-center">
      <a class="btn btn-outline-success" href="/login">Log In</a>
      <a class="btn btn-outline-primary" href="/signup">Sign Up</a>
    </div>

  </div>

<%- include('footer'); -%>